In [1]:
import os
import pandas as pd

In [3]:
#os.chdir("D:\ML\Decision tree\Data")
dat=pd.read_csv("credit_history.csv")
dat.head()

   default  amount grade  years ownership   income  age
0        0    1000     B    2.0      RENT  19200.0   24
1        1    6500     A    2.0  MORTGAGE  66000.0   28
2        0    2400     A    2.0      RENT  60000.0   36
3        0   10000     C    3.0      RENT  62000.0   24
4        1    4000     C    2.0      RENT  20000.0   28

Target customers who are likely to default

In [4]:
dat.isnull().sum()

default        0
amount         0
grade          0
years        279
ownership      0
income         0
age            0
dtype: int64

In [5]:
dat['years'].describe()

count    7448.000000
mean        6.086332
std         6.700758
min         0.000000
25%         2.000000
50%         4.000000
75%         8.000000
max        62.000000
Name: years, dtype: float64

In [6]:
dat['years'].fillna(4,inplace=True)

#Independent variables
X=dat.drop("default",axis=1)

In [7]:
X.head()

   amount grade  years ownership   income  age
0    1000     B    2.0      RENT  19200.0   24
1    6500     A    2.0  MORTGAGE  66000.0   28
2    2400     A    2.0      RENT  60000.0   36
3   10000     C    3.0      RENT  62000.0   24
4    4000     C    2.0      RENT  20000.0   28

In [8]:
len(X['grade'].unique())

7

In [9]:
#Create Dummies
X=pd.get_dummies(X)
y=dat['default']

In [10]:
X.head()

,amount,years,income,age,grade_A,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,ownership_MORTGAGE,ownership_OTHER,ownership_OWN,ownership_RENT
0,1000,2.0,19200.0,24,0,1,0,0,0,0,0,0,0,0,1
1,6500,2.0,66000.0,28,1,0,0,0,0,0,0,1,0,0,0
2,2400,2.0,60000.0,36,1,0,0,0,0,0,0,0,0,0,1
3,10000,3.0,62000.0,24,0,0,1,0,0,0,0,0,0,0,1
4,4000,2.0,20000.0,28,0,0,1,0,0,0,0,0,0,0,1

In [11]:
y.head()

0    0
1    1
2    0
3    0
4    1
Name: default, dtype: int64

In [12]:
X.shape

(7727, 15)

In [13]:
import sklearn.model_selection as model_selection
X_train,X_test,y_train,y_test=model_selection.train_test_split(X,y,test_size=0.2,random_state=200)

In [36]:
import warnings
warnings.filterwarnings("ignore")

from tpot import TPOTClassifier

In [37]:
tpot = TPOTClassifier(verbosity=2, max_time_mins=10)
tpot.fit(X_train, y_train)
print(tpot.score(X_test, y_test))

HBox(children=(FloatProgress(value=0.0, description='Optimization Progress', style=ProgressStyle(description_w…

Generation 1 - Current best internal CV score: 0.6562068162612856

Generation 2 - Current best internal CV score: 0.6562068162612856

10.10 minutes have elapsed. TPOT will close down.
TPOT closed during evaluation in one generation.
WARNING: TPOT may not provide a good pipeline if TPOT is stopped/interrupted in a early generation.


TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: KNeighborsClassifier(StandardScaler(input_matrix), n_neighbors=29, p=1, weights=distance)
0.6707632600258733

In [49]:
tpot.fitted_pipeline_

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('kneighborsclassifier',
                 KNeighborsClassifier(n_neighbors=29, p=1,
                                      weights='distance'))])

In [50]:
print(tpot.score(X_test, y_test))

0.6707632600258733

In [51]:
tpot.export('tpot_crd_pipeline.py')